Package: qt-fsarchiver
Version: 0.8.5.18~0ubuntu1hamonikr1
Architecture: amd64
Maintainer: Kevin Kim <chaeya@gmail.com>
Installed-Size: 3372
Depends: libblkid1 (>= 2.16), libbz2-1.0, libc6 (>= 2.14), libext2fs2 (>= 1.37), libgcc1 (>= 1:3.0), libgcrypt20 (>= 1.8.0), liblz4-1 (>= 0.0~r130), liblzma5 (>= 5.1.1alpha+20120614), liblzo2-2, libqt5core5a (>= 5.9.0~beta), libqt5gui5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 5.2), libuuid1 (>= 2.16), libzstd1 (>= 1.3.2), zlib1g (>= 1:1.1.4), samba, sshfs, gdisk, sshpass, nmap, nfs-kernel-server, smbclient, xfsprogs, nfs-common, jfsutils
Section: utils
Priority: optional
Homepage: https://github.com/hamonikr/qt-fsarchiver/
Description: Program to back up and restore partitions,
 directories and the MBR/GPT. Clone hard drives and build images of hard drives.
